body {
    background-color:rgb(225, 172, 183);
    color:maroon;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: x-large;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

p {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

#memeImage {
    border: 5px solid;
    border-color: maroon;
    margin-right: 200px;
}
